<a href="https://colab.research.google.com/github/HS587885/DigitalAnalytics_intermediateProgramming/blob/main/Week12(%ED%8C%90%EB%8B%A4%EC%8A%A41)_%EC%84%B1%ED%98%95%ED%9B%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스 객체 생성

In [ ]:
import pandas as pd

## 시리즈(1차원배열) 생성

In [ ]:
x=pd.Series([90,85,95])
print(x)

0    90
1    85
2    95
dtype: int64

In [ ]:
# 동일한 자료형으로 변환
y =pd.Series([4,3.5,3.7])
print(y)

0    4.0
1    3.5
2    3.7
dtype: float64

In [ ]:
# 인덱스 지정
z=pd.Series([90,80,95],index=['A','B','C'])
print(z)

A    90
B    80
C    95
dtype: int64

In [ ]:
z['A']

90

## 데이터 프레임 생성

In [ ]:
# 넘파이로 데이터프레임생성
import numpy as np
arr=np.arange(12).reshape(3,4)
arr
df=pd.DataFrame(arr)
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
# 딕셔너리로 데이터프레임 생성
name=['장은실','오경선','양숙희']
dept=['컴공','영어','수학']
score=[90,80,95]
df = pd.DataFrame({'이름':name,
                   '점수':score,
                   '전공':dept})
print(df)

    이름  점수  전공
0  장은실  90  컴공
1  오경선  80  영어
2  양숙희  95  수학

In [ ]:
# csv 파일 읽어와 데이터프레임 생성
filename = '/content/drive/MyDrive/data/mobile.csv'
mobile =pd.read_csv(filename)
mobile

     Brand   Color  price
0  Samsung   Black    100
1       LG    Gold     70
2    Apple  Silver    150
3    Apple    Gray    120

In [ ]:
# 엑셀파일 읽어와 데이터프레임 생성
filename = '/content/drive/MyDrive/data/nation.xlsx'
nation =pd.read_excel(filename)
nation

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

# 판다스 기초

## 판다스 데이터 확인

In [ ]:
# 준비파일 : weather.csv
# 데이터 불러오기
import pandas as pd
filename= '/content/drive/MyDrive/data/weather.csv' # 파일경로복사
df=pd.read_csv(filename, encoding='cp949')
df

             날짜  평균기온  최저기온  최고기온
0    2021-01-01  -4.2  -9.8   1.6
1    2021-01-02  -5.0  -8.4  -1.4
2    2021-01-03  -5.6  -9.1  -2.0
3    2021-01-04  -3.5  -8.4   0.3
4    2021-01-05  -5.5  -9.9  -2.1
..          ...   ...   ...   ...
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

[273 rows x 4 columns]

In [ ]:
# (행,열) 크기 확인
df.shape

(273, 4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 전체 구조 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      273 non-null    object
 1   평균기온    273 non-null    float64
 2   최저기온    273 non-null    float64
 3   최고기온    273 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.7+ KB

In [ ]:
# 데이터 일부 확인
df.tail()

             날짜  평균기온  최저기온  최고기온
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

In [ ]:
df.head(10)

           날짜  평균기온  최저기온  최고기온
0  2021-01-01  -4.2  -9.8   1.6
1  2021-01-02  -5.0  -8.4  -1.4
2  2021-01-03  -5.6  -9.1  -2.0
3  2021-01-04  -3.5  -8.4   0.3
4  2021-01-05  -5.5  -9.9  -2.1
5  2021-01-06  -7.4 -12.0  -1.9
6  2021-01-07 -14.5 -16.5  -8.4
7  2021-01-08 -14.9 -18.6 -10.7
8  2021-01-09 -12.2 -16.6  -7.5
9  2021-01-10  -7.7 -12.8  -2.7

In [ ]:
# 인덱스 및 컬럼 정보 확인
# df.index
df.columns

Index(['날짜', '평균기온', '최저기온', '최고기온'], dtype='object')

In [ ]:
# 데이터 통계 정보확인
df.describe()

             평균기온        최저기온        최고기온
count  273.000000  273.000000  273.000000
mean    15.652747   11.503663   20.381319
std     10.613532   11.044199   10.531716
min    -14.900000  -18.600000  -10.700000
25%      8.800000    4.300000   14.200000
50%     18.400000   13.800000   23.000000
75%     23.900000   20.400000   28.800000
max     31.700000   27.800000   36.500000

In [ ]:
# 데이터 정렬
df.sort_values(by='최고기온')

             날짜  평균기온  최저기온  최고기온
7    2021-01-08 -14.9 -18.6 -10.7
6    2021-01-07 -14.5 -16.5  -8.4
8    2021-01-09 -12.2 -16.6  -7.5
47   2021-02-17  -8.3 -10.4  -5.2
28   2021-01-29  -8.8 -11.6  -4.9
..          ...   ...   ...   ...
207  2021-07-27  31.1  27.8  35.7
203  2021-07-23  31.2  27.2  35.8
205  2021-07-25  31.5  27.2  35.9
202  2021-07-22  31.2  26.5  35.9
204  2021-07-24  31.7  26.9  36.5

[273 rows x 4 columns]

In [ ]:
# 응용문제 : 최고로 더웠던 10개의 데이터를 추출
w= df.sort_values(by='최고기온', ascending = False)
w.head(10)

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
207  2021-07-27  31.1  27.8  35.7
210  2021-07-30  30.5  25.8  35.4
206  2021-07-26  31.2  27.4  35.4
201  2021-07-21  30.5  25.3  35.3
196  2021-07-16  28.8  24.2  35.2
208  2021-07-28  30.4  27.1  34.7

In [ ]:
# 데이터 빈도 분석
bank=pd.read_csv('/content/drive/MyDrive/data/bank.csv')
bank['job'].value_counts(ascending=True)

student           153
housemaid         208
unemployed        223
entrepreneur      239
self-employed     256
retired           351
services          661
admin.            834
technician       1206
blue-collar      1499
management       1560
Name: job, dtype: int64

In [ ]:
# 특정 컬럼 정보 확인
bank['job'].unique()
len(bank['job'].unique())

12

## 데이터 선택

In [ ]:
df['평균기온']

0      -4.2
1      -5.0
2      -5.6
3      -3.5
4      -5.5
       ...
268    22.6
269    21.6
270    21.5
271    20.2
272    20.3
Name: 평균기온, Length: 273, dtype: float64

In [ ]:
# 단일 컬럼 선택
df['최고기온']

0       1.6
1      -1.4
2      -2.0
3       0.3
4      -2.1
       ...
268    27.3
269    25.0
270    24.4
271    21.4
272    25.9
Name: 최고기온, Length: 273, dtype: float64

In [ ]:
# 여러 컬럼 선택
df[['날짜','평균기온']]

             날짜  평균기온
0    2021-01-01  -4.2
1    2021-01-02  -5.0
2    2021-01-03  -5.6
3    2021-01-04  -3.5
4    2021-01-05  -5.5
..          ...   ...
268  2021-09-26  22.6
269  2021-09-27  21.6
270  2021-09-28  21.5
271  2021-09-29  20.2
272  2021-09-30  20.3

[273 rows x 2 columns]

In [ ]:
#여러 칼럼 선택 – loc()
df.loc[:,['날짜','평균기온']]

             날짜  평균기온
0    2021-01-01  -4.2
1    2021-01-02  -5.0
2    2021-01-03  -5.6
3    2021-01-04  -3.5
4    2021-01-05  -5.5
..          ...   ...
268  2021-09-26  22.6
269  2021-09-27  21.6
270  2021-09-28  21.5
271  2021-09-29  20.2
272  2021-09-30  20.3

[273 rows x 2 columns]

In [ ]:
#여러 칼럼 선택 – iloc()
df.iloc[:,[0,1]]

             날짜  평균기온
0    2021-01-01  -4.2
1    2021-01-02  -5.0
2    2021-01-03  -5.6
3    2021-01-04  -3.5
4    2021-01-05  -5.5
..          ...   ...
268  2021-09-26  22.6
269  2021-09-27  21.6
270  2021-09-28  21.5
271  2021-09-29  20.2
272  2021-09-30  20.3

[273 rows x 2 columns]

In [ ]:
df.iloc[:,[0,1]].head(4)

           날짜  평균기온
0  2021-01-01  -4.2
1  2021-01-02  -5.0
2  2021-01-03  -5.6
3  2021-01-04  -3.5

In [ ]:
# 특정 범위의 행 선택
df[10:20]

            날짜  평균기온  최저기온  최고기온
10  2021-01-11  -6.7  -9.6  -4.0
11  2021-01-12  -3.9  -9.3  -0.5
12  2021-01-13   2.0  -3.0   8.3
13  2021-01-14   1.7  -3.6   7.0
14  2021-01-15   4.5  -0.7   9.9
15  2021-01-16  -4.9  -8.7  -0.7
16  2021-01-17  -5.5 -10.8  -1.3
17  2021-01-18  -3.8  -9.1   0.2
18  2021-01-19  -6.3 -11.6  -0.2
19  2021-01-20  -0.1  -6.6   7.1

In [ ]:
df.iloc[10:20,[0,1]]

            날짜  평균기온
10  2021-01-11  -6.7
11  2021-01-12  -3.9
12  2021-01-13   2.0
13  2021-01-14   1.7
14  2021-01-15   4.5
15  2021-01-16  -4.9
16  2021-01-17  -5.5
17  2021-01-18  -3.8
18  2021-01-19  -6.3
19  2021-01-20  -0.1

In [ ]:
# 조건에 맞는 데이터 추출
# 평균기온이 30도 이상인 데이터 추출
w = df['평균기온']>=30
df[w]

             날짜  평균기온  최저기온  최고기온
201  2021-07-21  30.5  25.3  35.3
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
206  2021-07-26  31.2  27.4  35.4
207  2021-07-27  31.1  27.8  35.7
208  2021-07-28  30.4  27.1  34.7
210  2021-07-30  30.5  25.8  35.4

In [ ]:
# 평균기온이 20도 이상이고 30도 이하인 데이터 추출(&, |, ~)
w = (df['평균기온']>= 20) & (df['평균기온']<=30)
df[w]

             날짜  평균기온  최저기온  최고기온
111  2021-04-22  20.9  16.1  27.5
131  2021-05-12  22.0  16.9  27.7
132  2021-05-13  22.9  16.6  29.6
133  2021-05-14  24.1  18.0  30.8
134  2021-05-15  22.1  20.8  26.2
..          ...   ...   ...   ...
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

[115 rows x 4 columns]

In [ ]:
# 가장 더웠던 날의 모든 정보 추출
w= df['최고기온']==df['최고기온'].max()
df[w]

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5

In [ ]:
# 일교차가 16도 이상인 데이터
w = df['최고기온'] - df['최저기온'] >= 16
df[w]

             날짜  평균기온  최저기온  최고기온
49   2021-02-19   1.6  -7.1   8.9
89   2021-03-31  14.5   5.9  22.9
110  2021-04-21  19.1  10.3  28.2
130  2021-05-11  18.5   9.4  25.7

![image.png]()

In [ ]:
filename= '/content/drive/MyDrive/data/SURFACE_ASOS_159_DAY_1995_1995_2018.csv' # 파일경로복사
busan=pd.read_csv(filename, encoding='cp949')
busan

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,159,1995-01-01,2.8,-1.7,657,7.2,1605,NaN,NaN,NaN,...,7.0,8.3,10.5,13.8,17.3,17.5,NaN,3.1,NaN,NaN
1,159,1995-01-02,5.8,1.4,250,13.0,1436,NaN,NaN,NaN,...,6.6,7.9,11.2,14.0,17.2,17.4,NaN,2.5,0.0,NaN
2,159,1995-01-03,5.1,3.0,2350,5.7,1546,15.32,NaN,NaN,...,6.7,7.8,10.9,13.8,17.2,17.3,NaN,1.0,13.6,NaN
3,159,1995-01-04,3.8,1.5,817,7.3,1400,3.52,NaN,NaN,...,6.8,8.0,11.0,13.6,17.4,17.6,NaN,1.1,NaN,NaN
4,159,1995-01-05,2.3,-0.5,645,8.0,1310,0.40,NaN,NaN,...,6.4,7.8,10.6,13.6,17.1,17.4,NaN,2.1,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,159,1995-12-27,3.4,-2.1,637,10.0,1425,NaN,NaN,NaN,...,5.1,6.8,10.1,14.3,16.9,17.3,NaN,2.0,NaN,NaN
361,159,1995-12-28,6.0,2.4,820,10.8,1328,0.53,NaN,NaN,...,5.8,6.9,10.5,14.3,16.9,17.3,NaN,2.6,0.0,NaN
362,159,1995-12-29,2.5,-0.3,2400,6.6,1358,NaN,NaN,NaN,...,6.2,6.9,9.6,13.8,17.1,17.3,NaN,2.7,NaN,NaN
363,159,1995-12-30,-0.5,-4.2,748,4.7,1334,NaN,NaN,NaN,...,5.9,6.7,10.2,13.8,16.9,17.4,NaN,2.5,NaN,NaN
364,159,1995-12-31,4.4,-1.4,210,10.3,1457,NaN,NaN,NaN,...,5.7,6.7,9.5,13.8,16.9,17.3,NaN,1.5,NaN,NaN

In [ ]:
busan.shape

(365, 59)

# 1. 데이터의 앞 3개 행과 마지막 3개 행을 화면에 나타내시오.

In [ ]:
 busan = busan.iloc[:,[0,1,2,3,4,5]]
 # 앞 3개행
 busan.head(3)

    지점          일시  평균기온(°C)  최저기온(°C)  최저기온 시각(hhmi)  최고기온(°C)
0  159  1995-01-01       2.8      -1.7            657       7.2
1  159  1995-01-02       5.8       1.4            250      13.0
2  159  1995-01-03       5.1       3.0           2350       5.7

In [ ]:
# 마지막 3개행
busan.tail(3)

      지점          일시  평균기온(°C)  최저기온(°C)  최저기온 시각(hhmi)  최고기온(°C)
362  159  1995-12-29       2.5      -0.3           2400       6.6
363  159  1995-12-30      -0.5      -4.2            748       4.7
364  159  1995-12-31       4.4      -1.4            210      10.3

# 2. 평균기온이 20도를 넘는 날들을 조회하여 모든 기상 데이터 확인

In [ ]:
t = busan['평균기온(°C)']>=20
busan[t]

      지점          일시  평균기온(°C)  최저기온(°C)  최저기온 시각(hhmi)  최고기온(°C)
143  159  1995-05-24      20.4      15.8            527      25.5
145  159  1995-05-26      20.2      17.5              0      25.2
150  159  1995-05-31      20.2      15.1            620      27.3
151  159  1995-06-01      21.6      17.7            556      26.5
152  159  1995-06-02      20.2      17.1            241      25.4
..   ...         ...       ...       ...            ...       ...
274  159  1995-10-02      21.2      17.3            540      26.4
275  159  1995-10-03      21.9      17.7            710      27.3
276  159  1995-10-04      20.7      18.3            642      24.9
286  159  1995-10-14      21.2      16.2            508      26.4
287  159  1995-10-15      20.3      17.5           2357      22.4

[105 rows x 6 columns]

# 3. 가장 추웠던 날짜, 평균기온, 최저기온, 최고기온 확인

In [ ]:
#가장 추웠던 날짜의 평균기온, 최저기온, 최고기온 확인
w= busan['최저기온(°C)']==df['최저기온(°C)'].min()
busan[w]

      지점          일시  평균기온(°C)  최저기온(°C)  최저기온 시각(hhmi)  최고기온(°C)
358  159  1995-12-25      -3.4      -6.7            740       1.0